<!DOCTYPE html>
<html>
<body>
    <h1>OAuth2 Example</h1>
    {{ if not .AccessToken }}
    <h2>
        <a href="https://github.com/login/oauth/authorize?scope={{ join .OAuthConfig.Scopes `,` }}&client_id={{ .OAuthConfig.ClientID }}">Sign in with GitHub</a>
    </h2>
    {{ end }}
    {{ if .UserInfo }}
  <h1>Hello, {{ .UserInfo.Name }} ({{ .UserInfo.Login }})</h1>
  <img src="{{ .UserInfo.AvatarURL }}" alt="Avatar" width="100" />
  <p>Email: {{ .UserInfo.Email }}</p>
{{ end }}

</body>
</html>